In [50]:
import pandas as pd
#import numpy as np
from sklearn.preprocessing import KBinsDiscretizer
from feature_engine.discretisation import EqualWidthDiscretiser

In [51]:
data = pd.read_csv('Demographic_Data.csv')

In [52]:
data.head()

   in-store  age  items   amount  region
0         0   37      4   281.03       2
1         0   35      2   219.51       2
2         1   45      3  1525.70       4
3         1   46      3   715.25       3
4         1   33      4  1937.50       1

In [53]:
data.describe()

           in-store           age         items        amount        region
count  80000.000000  80000.000000  80000.000000  80000.000000  80000.000000
mean       0.500000     45.757925      4.504975    835.919670      2.675000
std        0.500003     15.715679      2.061238    721.273736      1.126672
min        0.000000     18.000000      1.000000      5.004700      1.000000
25%        0.000000     33.000000      3.000000    285.140000      2.000000
50%        0.500000     45.000000      4.000000    582.315000      3.000000
75%        1.000000     56.000000      6.000000   1233.700000      4.000000
max        1.000000     85.000000      8.000000   3000.000000      4.000000

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   in-store  80000 non-null  int64
 1   age       80000 non-null  int64
 2   items     80000 non-null  int64
 3   amount    80000 non-null  float64
 4   region    80000 non-null  int64
dtypes: float64(1), int64(4)
memory usage: 3.1 MB

In [55]:
data = data.drop_duplicates()

In [56]:
print(data.isnull().sum())

in-store    0
age         0
items       0
amount      0
region      0
dtype: int64

In [57]:
data.dtypes

in-store      int64
age           int64
items         int64
amount      float64
region        int64
dtype: object

In [58]:
# set up the discretisation transformer
disc = EqualWidthDiscretiser(bins=10, variables=['age', 'items', 'amount'])

# fit the transformer
disc.fit(data)

EqualWidthDiscretiser(variables=['age', 'items', 'amount'])

In [59]:
disc.transform(data)

       in-store  age  items  amount  region
0             0    2      4       0       2
1             0    2      1       0       2
2             1    4      2       5       4
3             1    4      2       2       3
4             1    2      4       6       1
...         ...  ...    ...     ...     ...
79995         1    7      2       1       1
79996         0    6      8       6       3
79997         0    5      0       1       2
79998         1    4      4       1       1
79999         1    1      0       1       3

[79979 rows x 5 columns]

In [60]:
disc.binner_dict_

{'age': [-inf,
  24.7,
  31.4,
  38.1,
  44.8,
  51.5,
  58.2,
  64.9,
  71.6,
  78.30000000000001,
  inf],
 'items': [-inf,
  1.7,
  2.4,
  3.0999999999999996,
  3.8,
  4.5,
  5.199999999999999,
  5.8999999999999995,
  6.6,
  7.3,
  inf],
 'amount': [-inf,
  304.50423,
  604.0037599999999,
  903.5032899999999,
  1203.00282,
  1502.50235,
  1802.0018799999998,
  2101.50141,
  2401.00094,
  2700.50047,
  inf]}

In [61]:
print(disc)

EqualWidthDiscretiser(variables=['age', 'items', 'amount'])

In [62]:
from feature_engine.discretisation import EqualFrequencyDiscretiser

In [63]:
disc = EqualFrequencyDiscretiser(q=10, variables = ['age','items','amount'])

disc.fit(data)

EqualFrequencyDiscretiser(variables=['age', 'items', 'amount'])

In [64]:
disc.transform(data)

       in-store  age  items  amount  region
0             0    3      2       2       2
1             0    2      0       1       2
2             1    4      1       8       4
3             1    5      1       5       3
4             1    2      2       9       1
...         ...  ...    ...     ...     ...
79995         1    9      1       4       1
79996         0    7      5       9       3
79997         0    6      0       3       2
79998         1    5      2       2       1
79999         1    1      0       4       3

[79979 rows x 5 columns]

In [65]:
print(data)

       in-store  age  items   amount  region
0             0   37      4   281.03       2
1             0   35      2   219.51       2
2             1   45      3  1525.70       4
3             1   46      3   715.25       3
4             1   33      4  1937.50       1
...         ...  ...    ...      ...     ...
79995         1   71      3   558.82       1
79996         0   59      7  1932.00       3
79997         0   54      1   414.16       2
79998         1   49      4   335.32       1
79999         1   30      1   527.12       3

[79979 rows x 5 columns]

In [66]:
disc.binner_dict_

{'age': [-inf, 26.0, 31.0, 35.0, 40.0, 45.0, 49.0, 54.0, 60.0, 68.0, inf],
 'items': [-inf, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, inf],
 'amount': [-inf,
  132.916,
  234.09400000000002,
  335.54400000000004,
  437.99600000000004,
  582.14,
  789.1500000000004,
  1000.3,
  1465.5400000000002,
  1926.8199999999997,
  inf]}

In [70]:
from sklearn.preprocessing import KBinsDiscretizer

In [81]:
disc = KBinsDiscretizer(n_bins=3, encode='ordinal',strategy='kmeans')

In [82]:
disc.fit(data)

C:\Users\higgi\.conda\envs\course1\lib\site-packages\sklearn\preprocessing\_discretization.py:219: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
C:\Users\higgi\.conda\envs\course1\lib\site-packages\sklearn\preprocessing\_discretization.py:230: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  warnings.warn(

KBinsDiscretizer(encode='ordinal', n_bins=3, strategy='kmeans')

In [79]:
disc.transform(data)

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [1., 0., 0., 1., 1.],
       ...,
       [0., 1., 0., 0., 0.],
       [1., 1., 0., 0., 0.],
       [1., 0., 0., 0., 1.]])

In [85]:
from sklearn.model_selection import train_test_split
from feature_engine.discretisation import DecisionTreeDiscretiser

In [87]:
# cross-validation number (cv)
# how to evaluate model performance (scoring)
# the variables we want to discretise (variables)
# whether it is a target for regression or classification
# and the grid with the parameters we want to test
treeDisc = DecisionTreeDiscretiser(cv=10, scoring='accuracy',
variables=['age', 'items', 'amount'],
regression=False,
param_grid={'max_depth': [1,2,3],
'min_samples_leaf':[10,4]})

treeDisc.fit(data)

TypeError: DecisionTreeDiscretiser.fit() missing 1 required positional argument: 'y'