In [2]:
#DS Basics
import numpy as np
import pandas as pd
import pandas_profiling
import matplotlib.pyplot as plt

In [3]:
#SKLearn Stuff
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

In [4]:
#helpers
%matplotlib inline

In [5]:
data=pd.read_csv('Demographic_Data_Clean.csv')

In [6]:
data.head(0)

Empty DataFrame
Columns: [in-store, age, items, amount, region, trantype, regionname, agerange]
Index: []

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79979 entries, 0 to 79978
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   in-store    79979 non-null  int64
 1   age         79979 non-null  int64
 2   items       79979 non-null  int64
 3   amount      79979 non-null  float64
 4   region      79979 non-null  int64
 5   trantype    79979 non-null  object
 6   regionname  79979 non-null  object
 7   agerange    79979 non-null  object
dtypes: float64(1), int64(4), object(3)
memory usage: 4.9+ MB

In [8]:
data.describe()

           in-store           age         items        amount        region
count  79979.000000  79979.000000  79979.000000  79979.000000  79979.000000
mean       0.500006     45.758512      4.505133    835.825727      2.674915
std        0.500003     15.715158      2.061250    721.263650      1.126642
min        0.000000     18.000000      1.000000      5.004700      1.000000
25%        0.000000     33.000000      3.000000    285.120000      2.000000
50%        1.000000     45.000000      4.000000    582.140000      3.000000
75%        1.000000     56.000000      6.000000   1233.400000      4.000000
max        1.000000     85.000000      8.000000   3000.000000      4.000000

In [9]:
#set number of bins
amtbins = np.linspace(data['amount'].min(),data['amount'].max(),3)

In [10]:
amtbins

array([   5.0047 , 1502.50235, 3000.     ])

In [11]:
labels = ['$5-1502','$1502-3000']

In [12]:
data['amtbins'] = pd.cut(data['amount'], bins=amtbins, labels=labels, include_lowest = True)

In [13]:
data.head()

,in-store,age,items,amount,region,trantype,regionname,agerange,amtbins
0,0,37,4,281.03,2,online,South,30-39,$5-1502
1,0,35,2,219.51,2,online,South,30-39,$5-1502
2,1,45,3,1525.70,4,in-store,West,40-49,$1502-3000
3,1,46,3,715.25,3,in-store,East,40-49,$5-1502
4,1,33,4,1937.50,1,in-store,North,30-39,$1502-3000

In [14]:
#features
X = data[['in-store','items','age','region']]
print('Summary of feature sample')
X.head()

Summary of feature sample

   in-store  items  age  region
0         0      4   37       2
1         0      2   35       2
2         1      3   45       4
3         1      3   46       3
4         1      4   33       1

In [15]:
#dependent variable
y = data['amtbins']

In [16]:
#Train/Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30)

In [17]:
#Modeling (Classification)
algo = DecisionTreeClassifier()
model = algo.fit(X_train,y_train)

In [18]:
#Predictions
preds = model.predict(X_test)

In [19]:
print(cross_val_score(model, X, y, cv=3)) #cv = number of folds being held out

[0.81230308 0.81350338 0.80899509]

In [20]:
print(classification_report(y_test,preds))

              precision    recall  f1-score   support

  $1502-3000       0.52      0.41      0.46      4687
     $5-1502       0.86      0.91      0.89     19307

    accuracy                           0.81     23994
   macro avg       0.69      0.66      0.67     23994
weighted avg       0.80      0.81      0.80     23994

In [21]:
algos_Class=[]
algos_Class.append(('Random Forest Classifier', RandomForestClassifier()))
algos_Class.append(('Decision Tree Classifier', DecisionTreeClassifier()))

In [22]:
#classification
results = []
names = []
for name, model in algos_Class:
    result = cross_val_score(model, X,y, cv=3, scoring='accuracy')
    names.append(name)
    results.append(result)

In [23]:
for i in range(len(names)):
    print(names[i],results[i].mean())

Random Forest Classifier 0.8112754261373776
Decision Tree Classifier 0.8116005125667178

In [24]:
from sklearn.tree import plot_tree

In [26]:
fig = plt.figure(figsize=(45,15),dpi=250)
tree = plot_tree(model, fontsize=8, feature_names=X.columns, max_depth=6, class_names=labels, filled=True)