<a href="https://colab.research.google.com/gist/seema200/d351baa7893a21dda4e8ccc3e712671d/untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

np.random.seed(50)

a = pd.DataFrame({'A':np.random.randn(10),
                  'B':np.random.randn(10),
                  'C':np.random.randn(10),
                  'D':np.random.randn(10),
                  'E':np.random.randn(10)})

b = pd.DataFrame({'A':np.random.randn(10)})

In [6]:
a.head()

          A         B         C         D         E
0 -1.560352  0.126338 -0.393956  1.095210 -0.200416
1 -0.030978  0.862194  0.148116  1.338409  0.743038
2 -0.620928  0.696737 -0.412234 -1.368982  0.857362
3 -1.464580 -0.334565 -0.160715  0.486428 -1.506189
4  1.411946 -0.997526  0.139531  0.753522 -1.666352

In [7]:
b.head()

          A
0 -0.793217
1 -0.038835
2  2.705255
3 -1.491389
4  0.095978

In [8]:
from scipy.stats import spearmanr, pearsonr

#Pearson and spearman correlation coeficient
pr_corr = a.apply(lambda col: pearsonr(col, b.iloc[:,0])[0], axis=0)

spr_corr = a.apply(lambda col: spearmanr(col, b.iloc[:,0])[0], axis=0)

print('Pearson corr', pr_corr,'\n','spearman corr',spr_corr)

Pearson corr A    0.183806
B    0.390609
C   -0.101103
D   -0.655732
E    0.453005
dtype: float64
 spearman corr A    0.393939
B    0.539394
C   -0.018182
D   -0.515152
E    0.115152
dtype: float64